# DEBUG
export DEBUG=True
# fluentd 配置文件路径,默认空->/fluentd/etc
export FILEPATH=/home/arvin/projects/src/git.v87.us/tianweiguo/fluentd-axes
# mysql
export SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:root@127.0.0.1:3306/fluentd-axes