# DEBUG
export DEBUG=True
# fluentd 配置文件路径,默认空->/fluentd/etc
export FILEPATH=/Users/arvin/projects/src/github.com/Arvintian/fluentd-axes
# ui static
export STATICPATH=/Users/arvin/projects/src/github.com/Arvintian/fluentd-axes/static
# mysql
export SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:root@127.0.0.1:3306/fluentd-axes